@charset "utf-8";
/* CSS Document */

.container
{
	max-width: 1300px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	justify-content: space-between;
}
.navbar-style
{
	box-shadow: 0 5px 10px;
	background:#EBE297;
	display: flex;
	align-items: center;
	padding: 10px;
}
.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav
{
	text-align: right;
	flex:1;
	justify-content: space-between;
}
nav ul
{
	display: inline-block;
	list-style-type:none
}
nav ul li
{
    display: inline-block;
    margin-left: 30px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: x-large;
}
a
{
    text-decoration: none;
    color: white;
    text-align: center;
}
	div.image
{
  margin: 2px;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.image img
{
  display: inline;
  margin: 3px;

}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: auto;
 	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:16px;
}
body
{
	background-color:lightgray;
	padding-left: 50px;
	padding-right: 50px
}
.row
{
	display: flex;
	align-items: center
}
.menu-icon{
	display: none;
	cursor: pointer;
	width: 25px;
}
td
{
    text-align: center;

}
table
{
	width: 90%;
	border:none
}

.footer {
   position:relative;
   width:100%;
   height:60px; 
   bottom: 0px;
   padding: 10px 10px 0px 10px;	
}
.footer .Container
{
	border-radius: 5px;
	background-color:darkgray;
	display: flex;
	flex-wrap: wrap;
	gap:20px;
}
.footer .Container .box
{
	flex: 2px;
}
.footer .Container .box a
{
	color:navy;
	display: block;
	text-align: left;
}
.footer .Container .box a:hover
{
    color: wheat;
    text-align: left;
}
.footer .footer-bottom{
	text-align: center;
	position: relative;
	width:100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer .Container .box .copyright
{
	text-align: center
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color:#04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

@media (max-width:991px)
{
	html{
		font-size: 55%;
	}
	header{
		padding: 2px;
	}
}

@media (max-width:400px)
{
	html{
	   font-size: 50%;
     }
}
@media only screen and (max-width:700px)
{
	nav ul{
	    position: absolute;
		right: 0;
		width: 100%;
		z-index: 2;
		top: 75px;
     }
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.menu-icon{
		display: block;
	}
	.menuList{
		overflow: hidden;
		transition: 0.5s; 
	}
	table{
	    width: 100%;
	   flex-basis: 100%;
    }
	td{
		width: 100%;
		
	}

}
	
	
	
